In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet 

import pickle 

!pip install lxml
!pip install bs4

from bs4 import BeautifulSoup
!pip install requests

import requests

from scipy.stats import poisson

Requirement already satisfied: lxml in c:\users\admin\.ipython\lib\site-packages (4.8.0)
Requirement already satisfied: bs4 in c:\users\admin\.ipython\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\.ipython\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\.ipython\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\admin\.ipython\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\.ipython\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\.ipython\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\.ipython\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\.ipython\lib\site-packages (from requests) (2021.10.8)

### FIFA World Cup qualifications 1994-2022

In [2]:



web = 'https://en.wikipedia.org/wiki/1994_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_6#Sweden_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_1994 = pd.DataFrame(dict_football)
df_football_1994['years'] = '1994'   
df_football_1994

         home score       away years
0    Finland    0–3   Bulgaria  1994
1   Bulgaria    2–0     France  1994
2    Finland    0–1     Sweden  1994
3     Sweden    2–0   Bulgaria  1994
4     France    2–0    Austria  1994
5    Austria    5–2     Israel  1994
6     Israel    1–3     Sweden  1994
7     France    2–1    Finland  1994
8     Israel    0–2   Bulgaria  1994
9     Israel    0–4     France  1994
10   Austria    0–1     France  1994
11   Austria    3–1   Bulgaria  1994
12    France    2–1     Sweden  1994
13  Bulgaria    2–0    Finland  1994
14  Bulgaria    2–2     Israel  1994
15   Finland    3–1    Austria  1994
16    Sweden    1–0    Austria  1994
17    Sweden    5–0     Israel  1994
18   Finland    0–0     Israel  1994
19    Sweden    1–1     France  1994
20   Austria    3–0    Finland  1994
21   Finland    0–2     France  1994
22  Bulgaria    1–1     Sweden  1994
23    France    2–3     Israel  1994
24  Bulgaria    4–1    Austria  1994
25    Sweden    3–2    Finland  1994
26    Israel    1–1    Austria  1994
27   Austria    1–1     Sweden  1994
28    Israel    1–3    Finland  1994
29    France    1–2   Bulgaria  1994

In [3]:
web = 'https://en.wikipedia.org/wiki/1998_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_5#Bulgaria_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_1998 = pd.DataFrame(dict_football)
df_football_1998['years'] = '1998'   
df_football_1998

           home score         away years
0       Israel    2–1     Bulgaria  1998
1       Russia    4–0       Cyprus  1998
2   Luxembourg    1–2     Bulgaria  1998
3       Israel    1–1       Russia  1998
4   Luxembourg    0–4       Russia  1998
5       Cyprus    2–0       Israel  1998
6       Cyprus    1–3     Bulgaria  1998
7       Israel    1–0   Luxembourg  1998
8       Cyprus    1–1       Russia  1998
9   Luxembourg    0–3       Israel  1998
10    Bulgaria    4–1       Cyprus  1998
11      Russia    3–0   Luxembourg  1998
12      Israel    2–0       Cyprus  1998
13    Bulgaria    4–0   Luxembourg  1998
14      Russia    2–0       Israel  1998
15    Bulgaria    1–0       Israel  1998
16  Luxembourg    1–3       Cyprus  1998
17    Bulgaria    1–0       Russia  1998
18      Russia    4–2     Bulgaria  1998
19      Cyprus    2–0   Luxembourg  1998

In [4]:
web = 'https://en.wikipedia.org/wiki/2002_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_7#Spain_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2002 = pd.DataFrame(dict_football)
df_football_2002['years'] = '2002'   
df_football_2002

                       home score                     away years
0   Bosnia and Herzegovina    1–2                    Spain  2002
1                   Israel    2–0            Liechtenstein  2002
2                    Spain    2–0                   Israel  2002
3            Liechtenstein    0–1                  Austria  2002
4                  Austria    1–1                    Spain  2002
5                   Israel    3–1   Bosnia and Herzegovina  2002
6                    Spain    5–0            Liechtenstein  2002
7   Bosnia and Herzegovina    1–1                  Austria  2002
8                  Austria    2–1                   Israel  2002
9            Liechtenstein    0–3   Bosnia and Herzegovina  2002
10                 Austria    2–0            Liechtenstein  2002
11                   Spain    4–1   Bosnia and Herzegovina  2002
12           Liechtenstein    0–3                   Israel  2002
13                  Israel    1–1                    Spain  2002
14                   Spain    4–0                  Austria  2002
15  Bosnia and Herzegovina    0–0                   Israel  2002
16           Liechtenstein    0–2                    Spain  2002
17                 Austria    2–0   Bosnia and Herzegovina  2002
18  Bosnia and Herzegovina    5–0            Liechtenstein  2002
19                  Israel    1–1                  Austria  2002

In [5]:
web = 'https://en.wikipedia.org/wiki/2006_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_4#France_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2006 = pd.DataFrame(dict_football)
df_football_2006['years'] = '2006'   
df_football_2006

                    home score                  away years
0   Republic of Ireland    3–0                Cyprus  2006
1           Switzerland    6–0         Faroe Islands  2006
2                France    0–0                Israel  2006
3         Faroe Islands    0–2                France  2006
4           Switzerland    1–1   Republic of Ireland  2006
5                Israel    2–1                Cyprus  2006
6                Cyprus    2–2         Faroe Islands  2006
7                Israel    2–2           Switzerland  2006
8                France    0–0   Republic of Ireland  2006
9   Republic of Ireland    2–0         Faroe Islands  2006
10               Cyprus    0–2                France  2006
11               Cyprus    1–2                Israel  2006
12               Israel    1–1   Republic of Ireland  2006
13               France    0–0           Switzerland  2006
14          Switzerland    1–0                Cyprus  2006
15               Israel    1–1                France  2006
16        Faroe Islands    1–3           Switzerland  2006
17  Republic of Ireland    2–2                Israel  2006
18        Faroe Islands    0–2   Republic of Ireland  2006
19        Faroe Islands    0–3                Cyprus  2006
20          Switzerland    1–1                Israel  2006
21               France    3–0         Faroe Islands  2006
22        Faroe Islands    0–2                Israel  2006
23  Republic of Ireland    0–1                France  2006
24               Cyprus    1–3           Switzerland  2006
25               Cyprus    0–1   Republic of Ireland  2006
26          Switzerland    1–1                France  2006
27               Israel    2–1         Faroe Islands  2006
28  Republic of Ireland    0–0           Switzerland  2006
29               France    4–0                Cyprus  2006

In [6]:
web = 'https://en.wikipedia.org/wiki/2010_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_2#Switzerland_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2010 = pd.DataFrame(dict_football)
df_football_2010['years'] = '2010'   
df_football_2010

            home score           away years
0       Moldova    1–2         Latvia  2010
1        Israel    2–2    Switzerland  2010
2    Luxembourg    0–3         Greece  2010
3       Moldova    1–2         Israel  2010
4        Latvia    0–2         Greece  2010
5   Switzerland    1–2     Luxembourg  2010
6   Switzerland    2–1         Latvia  2010
7    Luxembourg    1–3         Israel  2010
8        Greece    3–0        Moldova  2010
9        Latvia    1–1         Israel  2010
10   Luxembourg    0–0        Moldova  2010
11       Greece    1–2    Switzerland  2010
12   Luxembourg    0–4         Latvia  2010
13      Moldova    0–2    Switzerland  2010
14       Israel    1–1         Greece  2010
15       Latvia    2–0     Luxembourg  2010
16       Greece    2–1         Israel  2010
17  Switzerland    2–0        Moldova  2010
18      Moldova    0–0     Luxembourg  2010
19       Israel    0–1         Latvia  2010
20  Switzerland    2–0         Greece  2010
21       Israel    7–0     Luxembourg  2010
22       Latvia    2–2    Switzerland  2010
23      Moldova    1–1         Greece  2010
24   Luxembourg    0–3    Switzerland  2010
25       Israel    3–1        Moldova  2010
26       Greece    5–2         Latvia  2010
27       Greece    2–1     Luxembourg  2010
28       Latvia    3–2        Moldova  2010
29  Switzerland    0–0         Israel  2010

In [7]:
web = 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_F#Russia_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2014 = pd.DataFrame(dict_football)
df_football_2014['years'] = '2014'   
df_football_2014

                 home score               away years
0             Russia    2–0   Northern Ireland  2014
1         Azerbaijan    1–1             Israel  2014
2         Luxembourg    1–2           Portugal  2014
3             Israel    0–4             Russia  2014
4   Northern Ireland    1–1         Luxembourg  2014
5           Portugal    3–0         Azerbaijan  2014
6             Russia    1–0           Portugal  2014
7         Luxembourg    0–6             Israel  2014
8             Russia    1–0         Azerbaijan  2014
9             Israel    3–0         Luxembourg  2014
10          Portugal    1–1   Northern Ireland  2014
11  Northern Ireland    1–1         Azerbaijan  2014
12            Israel    3–3           Portugal  2014
13        Luxembourg    0–0         Azerbaijan  2014
14        Azerbaijan    0–2           Portugal  2014
15  Northern Ireland    0–2             Israel  2014
16        Azerbaijan    1–1         Luxembourg  2014
17          Portugal    1–0             Russia  2014
18  Northern Ireland    1–0             Russia  2014
19            Russia    4–1         Luxembourg  2014
20  Northern Ireland    2–4           Portugal  2014
21            Israel    1–1         Azerbaijan  2014
22            Russia    3–1             Israel  2014
23        Luxembourg    3–2   Northern Ireland  2014
24        Azerbaijan    2–0   Northern Ireland  2014
25        Luxembourg    0–4             Russia  2014
26          Portugal    1–1             Israel  2014
27        Azerbaijan    1–1             Russia  2014
28            Israel    1–1   Northern Ireland  2014
29          Portugal    3–0         Luxembourg  2014

In [8]:
web = 'https://en.wikipedia.org/wiki/2018_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_G#Spain_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2018 = pd.DataFrame(dict_football)
df_football_2018['years'] = '2018'   
df_football_2018

              home        score            away years
0         Albania   2–1[note 2]       Macedonia  2018
1          Israel           1–3           Italy  2018
2           Spain           8–0   Liechtenstein  2018
3           Italy           1–1           Spain  2018
4   Liechtenstein           0–2         Albania  2018
5       Macedonia           1–2          Israel  2018
6          Israel           2–1   Liechtenstein  2018
7         Albania           0–2           Spain  2018
8       Macedonia           2–3           Italy  2018
9         Albania           0–3          Israel  2018
10  Liechtenstein           0–4           Italy  2018
11          Spain           4–0       Macedonia  2018
12          Italy           2–0         Albania  2018
13  Liechtenstein           0–3       Macedonia  2018
14          Spain           4–1          Israel  2018
15         Israel           0–3         Albania  2018
16          Italy           5–0   Liechtenstein  2018
17      Macedonia           1–2           Spain  2018
18        Albania           2–0   Liechtenstein  2018
19         Israel           0–1       Macedonia  2018
20          Spain           3–0           Italy  2018
21          Italy           1–0          Israel  2018
22  Liechtenstein           0–8           Spain  2018
23      Macedonia           1–1         Albania  2018
24          Italy           1–1       Macedonia  2018
25  Liechtenstein           0–1          Israel  2018
26          Spain           3–0         Albania  2018
27        Albania           0–1           Italy  2018
28         Israel           0–1           Spain  2018
29      Macedonia           4–0   Liechtenstein  2018

In [29]:
web = 'https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_qualification_%E2%80%93_UEFA_Group_F#Denmark_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2022 = pd.DataFrame(dict_football)
df_football_2022['years'] = '2022'   
df_football_2022

              home score            away years
0          Israel    0–2         Denmark  2022
1         Moldova    1–1   Faroe Islands  2022
2        Scotland    2–2         Austria  2022
3         Denmark    8–0         Moldova  2022
4         Austria    3–1   Faroe Islands  2022
5          Israel    1–1        Scotland  2022
6         Austria    0–4         Denmark  2022
7         Moldova    1–4          Israel  2022
8        Scotland    4–0   Faroe Islands  2022
9         Denmark    2–0        Scotland  2022
10  Faroe Islands    0–4          Israel  2022
11        Moldova    0–2         Austria  2022
12  Faroe Islands    0–1         Denmark  2022
13         Israel    5–2         Austria  2022
14       Scotland    1–0         Moldova  2022
15        Austria    0–1        Scotland  2022
16        Denmark    5–0          Israel  2022
17  Faroe Islands    2–1         Moldova  2022
18       Scotland    3–2          Israel  2022
19  Faroe Islands    0–2         Austria  2022
20        Moldova    0–4         Denmark  2022
21        Denmark    1–0         Austria  2022
22  Faroe Islands    0–1        Scotland  2022
23         Israel    2–1         Moldova  2022
24        Moldova    0–2        Scotland  2022
25        Austria    4–2          Israel  2022
26        Denmark    3–1   Faroe Islands  2022
27        Austria    4–1         Moldova  2022
28         Israel    3–2   Faroe Islands  2022
29       Scotland    2–0         Denmark  2022

### UEFA Euro qualifyings 1996 - 2024

In [28]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_1996_qualifying_Group_1#Romania_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_1996 = pd.DataFrame(dict_football)
df_football_1996['years'] = '1996'   
df_football_1996

           home score         away years
0       Israel    2–1       Poland  1996
1     Slovakia    0–0       France  1996
2      Romania    3–0   Azerbaijan  1996
3       France    0–0      Romania  1996
4       Israel    2–2     Slovakia  1996
5       Poland    1–0   Azerbaijan  1996
6      Romania    3–2     Slovakia  1996
7       Poland    0–0       France  1996
8   Azerbaijan    0–2       Israel  1996
9   Azerbaijan    0–2       France  1996
10      Israel    1–1      Romania  1996
11     Romania    2–1       Poland  1996
12    Slovakia    4–1   Azerbaijan  1996
13      Israel    0–0       France  1996
14      Poland    4–3       Israel  1996
15  Azerbaijan    1–4      Romania  1996
16      France    4–0     Slovakia  1996
17      Poland    5–0     Slovakia  1996
18     Romania    2–1       Israel  1996
19  Azerbaijan    0–1     Slovakia  1996
20      France    1–1       Poland  1996
21      France   10–0   Azerbaijan  1996
22      Poland    0–0      Romania  1996
23    Slovakia    1–0       Israel  1996
24     Romania    1–3       France  1996
25    Slovakia    4–1       Poland  1996
26      Israel    2–0   Azerbaijan  1996
27      France    2–0       Israel  1996
28    Slovakia    0–2      Romania  1996
29  Azerbaijan    0–0       Poland  1996

In [11]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2000_qualifying_Group_6#Israel_v_Cyprus'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2000 = pd.DataFrame(dict_football)
df_football_2000['years'] = '2000'   
df_football_2000

           home score         away years
0      Austria    1–1       Israel  2000
1       Cyprus    3–2        Spain  2000
2       Cyprus    0–3      Austria  2000
3   San Marino    0–5       Israel  2000
4       Israel    1–2        Spain  2000
5   San Marino    1–4      Austria  2000
6   San Marino    0–1       Cyprus  2000
7       Cyprus    4–0   San Marino  2000
8        Spain    9–0      Austria  2000
9       Israel    3–0       Cyprus  2000
10  San Marino    0–6        Spain  2000
11     Austria    7–0   San Marino  2000
12       Spain    9–0   San Marino  2000
13      Israel    5–0      Austria  2000
14     Austria    1–3        Spain  2000
15      Cyprus    3–2       Israel  2000
16      Israel    8–0   San Marino  2000
17       Spain    8–0       Cyprus  2000
18     Austria    3–1       Cyprus  2000
19       Spain    3–0       Israel  2000

In [12]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2004_qualifying_Group_1#France_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2004 = pd.DataFrame(dict_football)
df_football_2004['years'] = '2004'   
df_football_2004

         home score       away years
0     Cyprus    1–2     France  2004
1   Slovenia    3–0      Malta  2004
2      Malta    0–2     Israel  2004
3     France    5–0   Slovenia  2004
4      Malta    0–4     France  2004
5     Cyprus    2–1      Malta  2004
6     Cyprus    1–1     Israel  2004
7     France    6–0      Malta  2004
8   Slovenia    4–1     Cyprus  2004
9     Israel    1–2     France  2004
10    Israel    2–0     Cyprus  2004
11     Malta    1–3   Slovenia  2004
12     Malta    1–2     Cyprus  2004
13    Israel    0–0   Slovenia  2004
14  Slovenia    3–1     Israel  2004
15    France    5–0     Cyprus  2004
16    Israel    2–2      Malta  2004
17  Slovenia    0–2     France  2004
18    Cyprus    2–2   Slovenia  2004
19    France    3–0     Israel  2004

In [14]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2008_qualifying_Group_E#Croatia_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2008 = pd.DataFrame(dict_football)
df_football_2008['years'] = '2008'   
df_football_2008

          home score        away years
0     Estonia    0–1   Macedonia  2008
1     England    5–0     Andorra  2008
2     Estonia    0–1      Israel  2008
3      Russia    0–0     Croatia  2008
4      Israel    4–1     Andorra  2008
5   Macedonia    0–1     England  2008
6      Russia    1–1      Israel  2008
7     England    0–0   Macedonia  2008
8     Croatia    7–0     Andorra  2008
9     Andorra    0–3   Macedonia  2008
10     Russia    2–0     Estonia  2008
11    Croatia    2–0     England  2008
12  Macedonia    0–2      Russia  2008
13     Israel    3–4     Croatia  2008
14    Estonia    0–2      Russia  2008
15     Israel    0–0     England  2008
16    Croatia    2–1   Macedonia  2008
17     Israel    4–0     Estonia  2008
18    Andorra    0–3     England  2008
19    Estonia    0–1     Croatia  2008
20     Russia    4–0     Andorra  2008
21  Macedonia    1–2      Israel  2008
22    Andorra    0–2      Israel  2008
23    Croatia    0–0      Russia  2008
24    Estonia    0–3     England  2008
25    Estonia    2–1     Andorra  2008
26     Russia    3–0   Macedonia  2008
27    England    3–0      Israel  2008
28    Croatia    2–0     Estonia  2008
29    Andorra    0–6     Croatia  2008
30  Macedonia    1–1     Estonia  2008
31    England    3–0      Russia  2008
32    England    3–0     Estonia  2008
33    Croatia    1–0      Israel  2008
34     Russia    2–1     England  2008
35  Macedonia    3–0     Andorra  2008
36    Andorra    0–2     Estonia  2008
37     Israel    2–1      Russia  2008
38  Macedonia    2–0     Croatia  2008
39     Israel    1–0   Macedonia  2008
40    Andorra    0–1      Russia  2008
41    England    2–3     Croatia  2008

In [15]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2012_qualifying_Group_F#Greece_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2012 = pd.DataFrame(dict_football)
df_football_2012['years'] = '2012'   
df_football_2012

        home score      away years
0    Israel    3–1     Malta  2012
1    Latvia    0–3   Croatia  2012
2    Greece    1–1   Georgia  2012
3   Georgia    0–0    Israel  2012
4     Malta    0–2    Latvia  2012
5   Croatia    0–0    Greece  2012
6   Georgia    1–0     Malta  2012
7    Greece    1–0    Latvia  2012
8    Israel    1–2   Croatia  2012
9    Latvia    1–1   Georgia  2012
10   Greece    2–1    Israel  2012
11  Croatia    3–0     Malta  2012
12  Georgia    1–0   Croatia  2012
13   Israel    2–1    Latvia  2012
14    Malta    0–1    Greece  2012
15   Israel    1–0   Georgia  2012
16  Croatia    2–1   Georgia  2012
17   Latvia    1–2    Israel  2012
18   Greece    3–1     Malta  2012
19   Israel    0–1    Greece  2012
20  Georgia    0–1    Latvia  2012
21    Malta    1–3   Croatia  2012
22  Croatia    3–1    Israel  2012
23    Malta    1–1   Georgia  2012
24   Latvia    1–1    Greece  2012
25   Latvia    2–0     Malta  2012
26   Greece    2–0   Croatia  2012
27  Georgia    1–2    Greece  2012
28    Malta    0–2    Israel  2012
29  Croatia    2–0    Latvia  2012

In [16]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2016_qualifying_Group_B#Belgium_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2016 = pd.DataFrame(dict_football)
df_football_2016['years'] = '2016'   
df_football_2016

                       home score                     away years
0                  Andorra    1–2                    Wales  2016
1   Bosnia and Herzegovina    1–2                   Cyprus  2016
2                  Belgium    6–0                  Andorra  2016
3                   Cyprus    1–2                   Israel  2016
4                    Wales    0–0   Bosnia and Herzegovina  2016
5                  Andorra    1–4                   Israel  2016
6   Bosnia and Herzegovina    1–1                  Belgium  2016
7                    Wales    2–1                   Cyprus  2016
8                  Belgium    0–0                    Wales  2016
9                   Cyprus    5–0                  Andorra  2016
10                  Israel    3–0   Bosnia and Herzegovina  2016
11                  Israel    0–3                    Wales  2016
12                 Andorra    0–3   Bosnia and Herzegovina  2016
13                 Belgium    5–0                   Cyprus  2016
14                  Israel    0–1                  Belgium  2016
15                 Andorra    1–3                   Cyprus  2016
16  Bosnia and Herzegovina    3–1                   Israel  2016
17                   Wales    1–0                  Belgium  2016
18                 Belgium    3–1   Bosnia and Herzegovina  2016
19                  Cyprus    0–1                    Wales  2016
20                  Israel    4–0                  Andorra  2016
21                   Wales    0–0                   Israel  2016
22  Bosnia and Herzegovina    3–0                  Andorra  2016
23                  Cyprus    0–1                  Belgium  2016
24                 Andorra    1–4                  Belgium  2016
25  Bosnia and Herzegovina    2–0                    Wales  2016
26                  Israel    1–2                   Cyprus  2016
27                 Belgium    3–1                   Israel  2016
28                  Cyprus    2–3   Bosnia and Herzegovina  2016
29                   Wales    2–0                  Andorra  2016

In [17]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2020_qualifying_Group_G#Poland_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2020 = pd.DataFrame(dict_football)
df_football_2020['years'] = '2020'   
df_football_2020

                home score              away years
0           Austria    0–1            Poland  2020
1   North Macedonia    3–1            Latvia  2020
2            Israel    1–1          Slovenia  2020
3            Israel    4–2           Austria  2020
4            Poland    2–0            Latvia  2020
5          Slovenia    1–1   North Macedonia  2020
6           Austria    1–0          Slovenia  2020
7   North Macedonia    0–1            Poland  2020
8            Latvia    0–3            Israel  2020
9   North Macedonia    1–4           Austria  2020
10           Latvia    0–5          Slovenia  2020
11           Poland    4–0            Israel  2020
12           Israel    1–1   North Macedonia  2020
13          Austria    6–0            Latvia  2020
14         Slovenia    2–0            Poland  2020
15           Latvia    0–2   North Macedonia  2020
16           Poland    0–0           Austria  2020
17         Slovenia    3–2            Israel  2020
18          Austria    3–1            Israel  2020
19  North Macedonia    2–1          Slovenia  2020
20           Latvia    0–3            Poland  2020
21           Poland    2–0   North Macedonia  2020
22         Slovenia    0–1           Austria  2020
23           Israel    3–1            Latvia  2020
24         Slovenia    1–0            Latvia  2020
25          Austria    2–1   North Macedonia  2020
26           Israel    1–2            Poland  2020
27  North Macedonia    1–0            Israel  2020
28           Latvia    1–0           Austria  2020
29           Poland    3–2          Slovenia  2020

In [27]:
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2024_qualifying_Group_I#Romania_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2024 = pd.DataFrame(dict_football)
df_football_2024['years'] = '2024'   
df_football_2024

            home score           away years
0       Belarus    0–5    Switzerland  2024
1        Israel    1–1         Kosovo  2024
2       Andorra    0–2        Romania  2024
3        Kosovo    1–1        Andorra  2024
4       Romania    2–1        Belarus  2024
5   Switzerland    3–0         Israel  2024
6       Andorra    1–2    Switzerland  2024
7       Belarus    1–2         Israel  2024
8        Kosovo    0–0        Romania  2024
9       Belarus    2–1         Kosovo  2024
10       Israel    2–1        Andorra  2024
11  Switzerland    2–2        Romania  2024
12      Andorra    0–0        Belarus  2024
13       Kosovo    2–2    Switzerland  2024
14      Romania    1–1         Israel  2024
15       Israel    1–0        Belarus  2024
16      Romania    2–0         Kosovo  2024
17  Switzerland    3–0        Andorra  2024
18      Andorra    0–3         Kosovo  2024
19      Belarus    0–0        Romania  2024
20  Switzerland    3–3        Belarus  2024
21      Romania    4–0        Andorra  2024
22       Kosovo    1–0         Israel  2024
23       Israel    1–1    Switzerland  2024
24      Belarus    1–0        Andorra  2024
25       Israel    1–2        Romania  2024
26  Switzerland    1–1         Kosovo  2024
27      Andorra    0–2         Israel  2024
28       Kosovo    0–1        Belarus  2024
29      Romania    1–0    Switzerland  2024

### UEFA Nations League

In [19]:
web = 'https://en.wikipedia.org/wiki/2018%E2%80%9319_UEFA_Nations_League_C#Scotland_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2019 = pd.DataFrame(dict_football)
df_football_2019['years'] = '2019'   
df_football_2019

           home score         away years
0      Albania    1–0       Israel  2019
1     Scotland    2–0      Albania  2019
2       Israel    2–1     Scotland  2019
3       Israel    2–0      Albania  2019
4      Albania    0–4     Scotland  2019
5     Scotland    3–2       Israel  2019
6      Finland    1–0      Hungary  2019
7      Estonia    0–1       Greece  2019
8      Hungary    2–1       Greece  2019
9      Finland    1–0      Estonia  2019
10      Greece    1–0      Hungary  2019
11     Estonia    0–1      Finland  2019
12     Estonia    3–3      Hungary  2019
13     Finland    2–0       Greece  2019
14     Hungary    2–0      Estonia  2019
15      Greece    1–0      Finland  2019
16     Hungary    2–0      Finland  2019
17      Greece    0–1      Estonia  2019
18    Slovenia    1–2     Bulgaria  2019
19      Norway    2–0       Cyprus  2019
20    Bulgaria    1–0       Norway  2019
21      Cyprus    2–1     Slovenia  2019
22      Norway    1–0     Slovenia  2019
23    Bulgaria    2–1       Cyprus  2019
24      Norway    1–0     Bulgaria  2019
25    Slovenia    1–1       Cyprus  2019
26      Cyprus    1–1     Bulgaria  2019
27    Slovenia    1–1       Norway  2019
28    Bulgaria    1–1     Slovenia  2019
29      Cyprus    0–2       Norway  2019
30   Lithuania    0–1       Serbia  2019
31     Romania    0–0   Montenegro  2019
32      Serbia    2–2      Romania  2019
33  Montenegro    2–0    Lithuania  2019
34   Lithuania    1–2      Romania  2019
35  Montenegro    0–2       Serbia  2019
36     Romania    0–0       Serbia  2019
37   Lithuania    1–4   Montenegro  2019
38      Serbia    2–1   Montenegro  2019
39     Romania    3–0    Lithuania  2019
40      Serbia    4–1    Lithuania  2019
41  Montenegro    0–1      Romania  2019

In [20]:
web = 'https://en.wikipedia.org/wiki/2020%E2%80%9321_UEFA_Nations_League_B#Czech_Republic_v_Israel'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')
    
matches = soup.find_all('div', class_='footballbox')
    
home = []
score = []
away = []
    
for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())
    
dict_football = {'home': home, 'score': score, 'away': away}
df_football_2021 = pd.DataFrame(dict_football)
df_football_2021['years'] = '2021'   
df_football_2021

                    home               score                  away years
0                Norway                  1–2               Austria  2021
1               Romania                  1–1      Northern Ireland  2021
2               Austria                  2–3               Romania  2021
3      Northern Ireland                  1–5                Norway  2021
4                Norway                  4–0               Romania  2021
5      Northern Ireland                  0–1               Austria  2021
6                Norway                  1–0      Northern Ireland  2021
7               Romania                  0–1               Austria  2021
8               Austria                  2–1      Northern Ireland  2021
9               Romania   3–0Awarded[note 4]                Norway  2021
10              Austria                  1–1                Norway  2021
11     Northern Ireland                  1–1               Romania  2021
12             Scotland                  1–1                Israel  2021
13             Slovakia                  1–3        Czech Republic  2021
14       Czech Republic                  1–2              Scotland  2021
15               Israel                  1–1              Slovakia  2021
16               Israel                  1–2        Czech Republic  2021
17             Scotland                  1–0              Slovakia  2021
18             Scotland                  1–0        Czech Republic  2021
19             Slovakia                  2–3                Israel  2021
20             Slovakia                  1–0              Scotland  2021
21       Czech Republic                  1–0                Israel  2021
22       Czech Republic                  2–0              Slovakia  2021
23               Israel                  1–0              Scotland  2021
24               Russia                  3–1                Serbia  2021
25               Turkey                  0–1               Hungary  2021
26              Hungary                  2–3                Russia  2021
27               Serbia                  0–0                Turkey  2021
28               Russia                  1–1                Turkey  2021
29               Serbia                  0–1               Hungary  2021
30               Russia                  0–0               Hungary  2021
31               Turkey                  2–2                Serbia  2021
32               Turkey                  3–2                Russia  2021
33              Hungary                  1–1                Serbia  2021
34              Hungary                  2–0                Turkey  2021
35               Serbia                  5–0                Russia  2021
36             Bulgaria                  1–1   Republic of Ireland  2021
37              Finland                  0–1                 Wales  2021
38                Wales                  1–0              Bulgaria  2021
39  Republic of Ireland                  0–1               Finland  2021
40  Republic of Ireland                  0–0                 Wales  2021
41              Finland                  2–0              Bulgaria  2021
42              Finland                  1–0   Republic of Ireland  2021
43             Bulgaria                  0–1                 Wales  2021
44             Bulgaria                  1–2               Finland  2021
45                Wales                  1–0   Republic of Ireland  2021
46  Republic of Ireland                  0–0              Bulgaria  2021
47                Wales                  3–1               Finland  2021

In [33]:

# List of tables
tables = [df_football_1994, df_football_1998, df_football_2002, df_football_2006,
          df_football_2010, df_football_2014, df_football_2018, df_football_2022,
          df_football_2000, df_football_1996, df_football_2004, df_football_2008,
          df_football_2012, df_football_2016, df_football_2020, df_football_2024,
          df_football_2019, df_football_2021]

# Table merging
all_matches = pd.concat(tables, ignore_index=True)


all_matches.head(67)

                       home score       away years
0                  Finland    0–3   Bulgaria  1994
1                 Bulgaria    2–0     France  1994
2                  Finland    0–1     Sweden  1994
3                   Sweden    2–0   Bulgaria  1994
4                   France    2–0    Austria  1994
..                      ...   ...        ...   ...
62           Liechtenstein    0–3     Israel  2002
63                  Israel    1–1      Spain  2002
64                   Spain    4–0    Austria  2002
65  Bosnia and Herzegovina    0–0     Israel  2002
66           Liechtenstein    0–2      Spain  2002

[67 rows x 4 columns]

In [34]:
# create a condition for row selection
israel_condition = (all_matches['home'] == 'Israel\xa0') | (all_matches['away'] == '\xa0Israel')

# apply the condition using the loc method
israel_matches = all_matches.loc[israel_condition]
israel_matches

                home score             away years
5           Austria    5–2           Israel  1994
6            Israel    1–3           Sweden  1994
8            Israel    0–2         Bulgaria  1994
9            Israel    0–4           France  1994
14         Bulgaria    2–2           Israel  1994
..               ...   ...              ...   ...
509          Israel    1–1         Slovakia  2021
510          Israel    1–2   Czech Republic  2021
513        Slovakia    2–3           Israel  2021
515  Czech Republic    1–0           Israel  2021
517          Israel    1–0         Scotland  2021

[164 rows x 4 columns]

In [32]:
israel_matches.to_csv('israel_matches.csv', index=False)